# derivative free optimization
zoopt
scikit-optimize
nevergrad
HEBO
flaml
flaml[blendsearch]
cma
cmaes


# hyperparameter optimizations
ray[tune,rllib,serve]
optuna
hyperopt
bayesian-optimization
botorch
bayesian-torch
blitz-bayesian-pytorch
