# ml and algorithms
umap-learn
imbalanced-learn

# install fastai with no deps as it reverts pytorch to 1.12
#fastai

scikit-learn

# others
gssapi
thrift-sasl
python-snappy
thriftpy

category_encoders
pyro-ppl
gpytorch
