# tensorflow
tensorflow

# graph packages
pyvis
graphviz
pygraphviz
gensim
networkx
cdlib
stellargraph
pykeen

# jax

functorch
jax
objax

# pip install --upgrade "jax[cuda]" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
