# utilities and documentation
loguru
setuptools
build
johnnydep
mpi4py

# jupyter ipywidgets
jupyterhub
# jupyterlab
configurable-http-proxy
# notebook
jupyter-resource-usage
ipywidgets
widgetsnbextension
ipympl



