peacanpy
rocketchat-API
safetensors
bitsandbytes
trl

torchaudio
getdaft
kaggle
marshmallow-dataclass
marshmallow-jsonschema
pyxlsb>=1.0.8
retry
torchinfo
unidecode
ranx
krovetzstemmer
indxr

tiktoken
cdlib[all]
asteroid

grpcio-tools
gpustat