# pandas and alternative packages
pandas
pandarallel

# don't install dask as it ships with the NVIDIA image
# dask[complete]

# remove for python 3.10
# datatable
pyspark
pyspark[sql]
pyspark[pandas_on_spark]
