pandas-profiling
pulearn
rouge-score
sentence-transformers
text-generation
rank_bm25

chainlit
scikit-hubness
pyahocorasick
netcal
ordered_set
PyPDF2
ludwig

deepspeed
streamlit
chainlit
pypdf2
tabula-py
pdfminer.six
retriv
pdfplumber
st-aggrid

leidenalg
bayanpy
pyclustering
ASLPAw
infomap
s3fs

ibis-framework[pandas,duckdb,mysql,sqlite]
sentence-transformers
uwsgi

# skypilot
# vllm
# fschat