pandas-profiling
pulearn
rouge-score
sentence-transformers
text-generation
rank_bm25

chainlit
scikit-hubness
pyahocorasick
netcal
ordered_set
PyPDF2
ludwig

deepspeed
streamlit
chainlit

# skypilot
# vllm
# fschat