# derivative free optimization
zoopt
scikit-optimize
nevergrad

# install only the dependencies of HEBO
#HEBO
pymoo

flaml
flaml[blendsearch]
cma
cmaes


# hyperparameter optimizations
ray[tune,rllib,serve]
optuna
hyperopt
bayesian-optimization

# install only the dependencies of BoTorch
# botorch
pyro-ppl
multipledispatch

bayesian-torch
blitz-bayesian-pytorch
