# jax

jax[cuda]
jaxlib
objax

torchlars
torch_pruning
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git

boto3
botocore
s3transfer
s3pathlib

scalene
Flask
line_profiler
pyuwsgi
gevent
dill
pipreqs

smart-pathlib
transparentpath
faiss-cpu

kubernetes