# ml and algorithms
umap-learn
imbalanced-learn

# install fastai with no deps as it reverts pytorch to 1.12
#fastai

scikit-learn

# others
gssapi
# remove for python 3.10
# thrift-sasl
# thriftpy

python-snappy
modin[all]

category_encoders
pyro-ppl
gpytorch
