pyarrow
six
tqdm
jupyter-tensorboard


xgboost>=1.6.1
optuna>=2.10.1
jinja2>=3.0.3
cryptography>=35.0
plotly>=5.9.0
ipython>=8.12.0
# protobuf>=3.20.1,<4.0.0

kornia>=0.6.6
huggingface-hub>=0.8.1
pandas>=1.4.3
ipython>=8.4.0
optuna>=2.10.1
jupyter_server
ipywidgets>=8.0.0

