tensorflow
tf-keras

# graph packages
pyvis
graphviz

# do not install pygraphviz as it causes errors
# pygraphviz

# gensim is quite deprecated and i wish to install some modern replacements
# gensim
fastText

networkx

# do not install cdlib[all] as infomap, leidenalg cause errors, install separately in requirements_0017
cdlib

# remove for python 3.10
# No matching distribution found for stellargraph - deprecated
# stellargraph

pykeen
ogb