Orange3
feature-engine
textstat
outlines
cloudpickle
msgpack
pydantic
jupyter-book
mahotas

chromadb
pymilvus
# lmdeploy (has too many dependencies which violates our environment setup)

pydata-sphinx-theme
grex

# visualization tool
imgkit
dataframe-image
eland
GitPython