# no deps package installation

fastai
fastcore
fastdownload
fastprogress

lightning-flash
functorch

pytorch-tabnet

pytorch-forecasting
rtdl

HEBO
# GPy
botorch

# retriv
# ludwig

# requires torch<=2.1.0
tsai
beam-ds