# no deps package installation

fastai
fastcore
fastdownload
fastprogress
fasttransform

lightning-flash
functorch

pytorch-tabnet

pytorch-forecasting
rtdl

HEBO
# GPy
botorch

# requires gensim
gensim
pecanpy

# retriv
# ludwig

# requires torch<=2.1.0
tsai
beam-ds

xeus-python
xeus-python-shell