pip-tools
pulearn
text-generation
waitress
cherrypy
uwsgi

# chainlit package creates dependencies collisions so we need to update the grpcio version
grpcio>=1.63.2,<2.0.0
# chainlit

s3fs
rank_bm25
ibis-framework[polars,mysql,sqlite,mssql]
ordered_set
PyPDF2
pyahocorasick
pdfplumber
pdfminer.six
tabula-py
sentence-transformers
rouge-score


# pandas-profiling
# scikit-hubness



# skypilot
# vllm
# fschat