# utilities and documentation
gunicorn

# currently requires xeus-python-shell[ipython] 0.5.0 depends on ipython<9 and >=7.21; extra == "ipython"
# (The user requested (constraint) ipython==9.0.1)
#xeus-python

thop
nbtop
requests_ntlm
twine

# throw error in nvidia image 12.24 (python 3.12)
# livereload
# myst-parser
# sphinx[myst-parser]
# sphinx-rtd-theme
# sphinx_mdinclude
# jdc