# jax

# less frequent use
# jax[cuda]
# jaxlib
# objax

# doesnt work with pytorch > 2.5
# torchlars

torch_pruning
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git

boto3
botocore
s3transfer
s3pathlib
sqlalchemy
pyathena

scalene
Flask
line_profiler
pyuwsgi
gevent
dill
pipreqs

smart-pathlib
transparentpath
# faiss-cpu

kubernetes
comet_ml