pecanpy
rocketchat-API
mattermostdriver

# install with script
# bitsandbytes
# safetensors

# consider moving to no-deps
# trl
# torchaudio

getdaft
kaggle
marshmallow-dataclass
marshmallow-jsonschema
pyxlsb>=1.0.8
retry
torchinfo
unidecode
ranx
# krovetzstemmer
indxr

tiktoken
# cdlib[all]

# consider moving to no-deps
# asteroid

grpcio-tools
gpustat