pyarrow
six
tqdm
jupyter-tensorboard


xgboost>=1.6.1
optuna>=2.10.1
jinja2>=3.0.3
cryptography>=35.0
plotly>=5.9.0
# protobuf>=3.20.1,<4.0.0

kornia>=0.6.6
huggingface-hub>=0.8.1
pandas>=2.0.1
ipython>=8.14.0
optuna>=2.10.1
jupyter_server
jupyterlab
widgetsnbextension
jupyterlab-widgets
ipywidgets>=8.0.0
jupyter_client >= 8.3.0
nbclient >= 0.8.0
Werkzeug >= 3.0.0
setuptools < 70.0.0

