# tensorflow
tensorflow

# graph packages
pyvis
graphviz
# pygraphviz
gensim
networkx

cdlib

# remove for python 3.10
# No matching distribution found for stellargraph - deprecated
# stellargraph

pykeen
ogb